{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/notice.css' %}">
{% endblock %}

{% block content %}
<div class="list-container">
    <h2 class="top">공지사항</h2>
    <ul class="list">
        {% for post in notice %}
        <li class="list-row">
            <a href="{% url 'notice:notice_detail' post.id %}">
                <div class="title">{{post.title}}</div>
                <div class="date">{{post.created_at|date:'Y.m.d'}}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}