{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/notice_detail.css' %}">
{% endblock %}

{% block content %}
<div class="notice-detail">
    <h2 class="top">공지사항</h2>

    <div class="detail">
        <div class="detail-header">
            <div class="title">
                {{notice.title}}
            </div>
            <div class="date">
                {{notice.created_at|date:'Y.m.d'}}
            </div>
        </div>
        <div class="detail-body">
            {{notice.content |linebreaks}}
        </div>
        <div class="detail-footer">
            <a href="{% url 'notice:notice' %}">
                <div class="button">
                    목록으로 돌아가기
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}