body {
    background-color: #F4F7F6;
}
* {
    -webkit-tap-highlight-color : transparent;
}
a,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    color: #000;   
}

.wrapper {
    z-index: 0;
}

.header {
    width: 100%;    
    min-width: 320px;
    background-color: #F4F7F6;
}
.header-contents {
    padding: 15px 30px;

}

.menu-btn img {
    display: block;
    width: 30px;
}
.user-icon img {
    display: block;
    width: 38px;
    margin: 0 auto;
}

.menu-btn {
    float: right;
    cursor: pointer;
    margin-top: 3px;
}
.user-icon {
    float: right;
    display: flex;
    align-items: center;
}
.user-icon span {
    min-width: 50px;
}

.header-title {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.hide {
    display: none !important;
}

.header-title a {
    color: #49C5B6;
}

.menu-box {
    display: flex;
    float: right;
    margin-top: 7px;
}

.menu-box li{
    float: right;
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: #4b4b4b;
    height: 30px;
}

.menu-box li img {
    margin-right: 5px;
}


.side-menu {
    width: 100%;
    height: 0px;
    position: fixed;
    top: 55px;
    background-color: #F4F7F6;
    z-index: -10;
    opacity: 0;
    transition: ease-in-out .3s;
}

.menu-close {
    float: left;
    padding-top: 20px;
    padding-left: 10px;    
    cursor: pointer;
}

.menu-contents ul li {
    vertical-align: middle;
    padding: 15px 30px;
    font-size: 17px;
    color: #202121;
    display: flex;
    align-items: center;
    font-family: Helvetica, sans-serif;
}
.menu-contents ul li img {
    margin-right: 10px;
    width: 20px;
}



footer {
    background-color: #ffffff;
    width: 100%;
}

footer .contents {
    padding: 80px 0;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #727272;
}

@media all and (max-width:480px) {
    .container {
        padding-top: 55px;
    }
    .header {
        position: fixed;
        top: 0;
        z-index: 100001;
        border-bottom: 1px solid #e0e0e0;
    }
    .header-contents {
        padding: 15px 20px 15px 5px;
    }
    .header-title {
        margin: 0;
        font-size: 25px;
    }
    footer .contents {
        padding: 50px 0;
        text-align: center;
        font-size: 14px;
    }
}