body {
    background-color: #F4F7F6;
}

a,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    color: #000;   
}

.wrapper {
    position: relative;
    z-index: 0;
}

.header {
    width: 100%;    
    min-width: 320px;
    background-color: #F4F7F6;
}
.header-contents {
    padding: 15px 30px;

}

.menu-btn img,
.user-icon img {
    display: block;
    width: 38px;
    margin: 0 auto;
}

.menu-btn {
    float: right;
    cursor: pointer;
    margin-top: 3px;
}
.user-icon {
    float: right;
    display: flex;
    align-items: center;
}
.user-icon span {
    min-width: 50px;
}

.header-title {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.hide {
    display: none !important;
}

.header-title a {
    color: #49C5B6;
}

.menu-box {
    display: flex;
    float: right;
}

.menu-box li{
    display: inline;
}

.side-menu {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #F4F7F6;
    z-index: 10001;
    transition: right ease-in .2s;
    border-left: 1px solid #e0e0e0;
}

.side-menu-header {
    height: 68px;
}

.menu-close {
    float: left;
    padding-top: 20px;
    padding-left: 10px;    
    cursor: pointer;
}

.menu-contents ul li {
    vertical-align: middle;
    padding: 20px 15px;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
    font-size: 20px;
    color: #202121;
    display: flex;
    align-items: center;
    font-family: Helvetica, sans-serif;
}
.menu-contents ul li img {
    margin-right: 20px;
}



footer {
    background-color: #ffffff;
    width: 100%;
}

footer .contents {
    padding: 80px 0;
    text-align: center;
    font-size: 14px;
}

@media all and (max-width:480px) {
    .header-contents {
        padding: 15px 20px 15px 5px;
    }
    .header-title {
        margin: 0;
        font-size: 35px;
    }
}