body {
    background-color: #F4F7F6;
}

a,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    color: #000;   
}

.header {
    width: 100%;    
    min-width: 320px;
    background-color: #F4F7F6;
}
.header-contents {
    padding: 15px 30px;

}

.menu-btn img,
.user-icon img {
    display: block;
    width: 38px;
    margin: 0 auto;
}

.menu-btn {
    float: left;
}
.user-icon {
    float: right;
    display: flex;
    align-items: center;
}
.user-icon span {
    min-width: 50px;
}

.header-title {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.header-title a {
    color: #49C5B6;
}