@media screen {
    .hot-topic {
        position: relative;
        height: 600px;
        width: 100%;
    }
    .thumb-box {
        display: block;
        width: 100%;    
        height: 100%;
        position: absolute;   
        background-size: cover;
        background-position: center;
        z-index: 0;
        opacity: 0.6;
    }
    .thumb-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 9;
    }
    .item {
        background-color: black;
        height: 600px;
    }

    .hot-topic-contents {
        position: relative;
        width: 90%;
        margin: auto;
        padding-top: 90px;
        z-index: 900;
    }

    .hot-topic-title {
        position: relative;
        color: #49C5B6;
        font-size: 44px;
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
        max-width: 1000px;
    }
    .hot-topic-subtitle {
        color: #ffffff;
        font-size: 20px;
        max-width: 800px;
        padding-top: 60px;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 0.5px;
        word-break: keep-all;
    }
    .voting-btn {
        width: 200px;
        position: relative;
        z-index: 1000;
        display: inline-block;
        color: #ffffff;
        background-color: #49C5B6;
        text-align: center;
        padding: 20px 0;
        margin-top: 100px;
        border-radius: 100px;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .topic-list {
        width: 100%;
        max-width: 1900px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .topic-card {
        width: 420px;
        height: 450px;
        margin: 10px 10px;  
        background-color: #ffffff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .topic-contents{
        position: relative;
        height: 100%;
        width: 100%;
    }
    .topic-text {
        padding: 10px 15px;
    }
    
    .topic-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .topic-subtitle {
        color: #555555;
    }

    .participant {
        position: absolute;
        bottom: 15px;
        right: 10px;
        font-weight: bold;
        color: #4d4d4d;
    }

    .topic-thumb img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cov er;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}


@media screen and (max-width:768px) {
    .hot-topic { 
        height: 450px;
    }
    .item {
        height: 450px;
    }
}

@media screen and (max-width:480px) {
    .hot-topic {
        height: 350px;
    }
    .item {
        height: 350px;
    }
}
