@media all {
        

    .topic-list {
        padding-top: 50px;
        
        font-family: nanum, sans-serif;
    }
    .topic-list a, 
    .topic-list a:hover {
        text-decoration: none;
    }
    .topic {
        width: 760px;
        background-color: #ffffff;
        margin: 20px auto;
        /* box-shadow: 0px 0px 30px #eee; */
        box-shadow: 2px 1px 5px rgba(0,0,0,0.1);
    }
    .topic .topic-content {
        display: flex;
        align-items: flex-start;
        padding: 20px 50px 10px 50px;
        height: 100%;
        color: #393A40;
    }
    .topic .topic-content .title {
        font-size: 25px;
        line-height: normal;
        word-break: keep-all;
    }
    .topic .topic-badge {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 40px;
    }

    .topic .topic-thumb {
        width: 140px;
        height: 140px;
        display: block;        
    }
    .topic .topic-thumb img {
        width: 100%;
        height: 100%;

    }

    .topic .topic-text {
        display: block;
        padding-left: 20px;
        width: 80%;
    }
    .topic .topic-content .description {
        padding-top: 10px;
        font-size: 14px;
        color: #646464;
        line-height: 14px;
        word-break: keep-all;
    }
    .topic .topic-chart {
        width: 100%;
    }


    .hot-topic {
        margin-bottom: 100px;
    }
    .hot-topic h3 {
        width: 760px;
        margin: 0 auto;
        
    }
    
    .topic-graph-wrap {
        background-color: #646464;
        width: 100%;
        margin: 15px 0 0px 0;
        height: 25px;
    }
    
    .topic-graph-wrap .agree {  
        height: 25px;
        background-color: #FFDE50;
        position: relative;
        top: -24px;
    }
    .topic-graph-wrap .label-agree {
        position: relative;
        z-index: 2;
        font-weight: bold;
        margin-left: 10px;
    }
    .topic-graph-wrap .label-disagree {
           
        float: right;
        margin-right: 10px;
        color: #ffffff;
        position: relative;
        top: -23px;
    }
    .nodata {
        background-color: #bbbbbb;
    }

    /* 캐러셀 부분 */

    .owl-carousel {
        width: 70% !important;
        margin: 0 auto;
    }

    .owl-carousel .item {
        background-color: #ffffff;        
        box-shadow: 2px 1px 5px rgba(0,0,0,0.1);
    }

    .item .topic-content {
        display: flex;
        align-items: center;
        min-height: 170px;
        width: 90%;
    }

    .item .topic-thumb {
        flex-basis: 170px;
        width: 170px;
        height: 170px;
        display: block;    

    }
    .item .topic-thumb img {
        width: 100%;
        height: inherit;
    }
    .item .topic-text {
        display: block;
        padding-left: 20px;
        width: 90%;
    }
    .item .topic-text .title{
        font-size: 25px;
        font-family: nanum;
        line-height: 28px;
    }
    .item .topic-content .description {
        padding-top: 10px;
        font-size: 14px;
        color: #646464;
        line-height: 14px;
        word-break: keep-all;
    }
    .owl-theme .owl-dots .owl-dot.active span, 
    .owl-theme .owl-dots .owl-dot:hover span 
    {
        background-color: #FFDE50 !important;
    }
    .owl-stage-outer { 
        box-shadow: 2px 1px 5px rgba(0,0,0,0.1);
    }


    .hot-time {
        position: relative;
        width: 70%;
        margin: 0 auto;
        font-size: 11px;
        color: #393A40;
    }
}

@media (max-width:992px) {
    .owl-carousel {
        width: 100% !important;
    }
}

@media (max-width:768px) {
    .container {
        width: 90% !important;
        max-width: 700px !important;
    }
    .hot-topic h3 {
        width: 100%;
        min-width: 310px;

    }
    .topic {        
        width: 100%;
        min-width: 310px;
        background-color: #ffffff;
        margin: 10px auto;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.1);
    }
    .topic .topic-thumb {
        display: block;
        width: 90px;
        height: 90px;
    }
    .topic .topic-content {
        align-items: center;
        padding: 15px 30px 20px 30px;
        color: #393A40;
    }
    .topic .topic-content .title {
        font-size: 20px;
        word-break: unset;
    }
    .topic .topic-content .description {
        font-size: 14px;
    }
    .topic .topic-text {
        display: block;
        min-width: 220px;
        width: 90%;
    }
    .mobile-menu .mobile-login {
        font-family: nanum;
        font-weight: 600;
    }

    .owl-carousel {
        width: 100% !important;
        margin: 0 auto;
    }
}

@media all and (max-width:480px) {
    .container {
        width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .hot-topic {
        margin-bottom: 30px;
    }
    .hot-topic h3 {
        border-bottom: 1px solid #e0e0e0;
    }
    .topic-list {
        padding-top: 30px;
        width: 100%;
    }
    .default-topic {
        border-top: 1px solid #e0e0e0;
    }
    .topic {
        background-color: #ffffff;
        margin: 0px auto;
        border-bottom: 1px solid #e0e0e0;
        box-shadow: none;
        /* box-shadow: 2px 1px 5px rgba(0,0,0,0.1); */
    }
    .topic .topic-thumb {
        display: block;
        width: 70px;
        height: 70px;
        position: relative;
        top: 10px;
    }
    .topic .topic-content {
        padding: 10px 10px 0px 20px;
        color: #393A40;
        align-items: flex-start;
    }
    .topic .topic-content .title {
        font-size: 15px;
        word-break: unset;
    }
    .topic .topic-content .description {
        font-size: 14px;
        display: none;
    }
    .topic-graph-wrap {
        width: 100%;
    }
    .topic .topic-text {
        display: block;
        min-width: 150px;
        padding: 10px 5px;
        width: 90%;
        height: 110px;
    }
    .owl-carousel {
        width: 100% !important;
        margin: 0 auto;
    }
}