@media screen {
    .hot-topic {
        position: relative;
        height: 600px;
        width: 100%;
    }
    .thumb-box {
        display: block;
        width: 100%;    
        height: 100%;
        position: relative;   
        z-index: 10;
        background: rgba(0, 0, 0, 0.5);
    }
    .thumb-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 9;
    }
    .thumb-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        z-index: 10;
    }    
    .topic-list {
        width: 100%;
        max-width: 1900px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }


    .topic-card {
        width: 420px;
        height: 450px;
        margin-right: 20px;
        background-color: #ffffff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .topic-contents{
        height: 100%;
        width: 100%;
    }
    .topic-thumb {

    }
    .topic-thumb img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cov er;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}


@media screen and (max-width:768px) {
    .hot-topic {
        height: 450px;
    }
}

@media screen and (max-width:480px) {
    .hot-topic {
        height: 350px;
    }
}
