.topic-wrapper {
    width: 100%;
    height: 100%;
}

.topic-background {
    background-color: black;
    position: relative;
}

.topic-thumb {
    min-height: 500px;
    background-position: center;
    background-size: cover;
}
.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: black;
    height: 100px;
}
.hide {
    display: none;
}
.select-wrapper  {
    position: relative;
    margin: -100px auto 50px auto;
    max-width: 700px;
    background-color: #ffffff;
    border-radius: 30px;
}

.select-box {
    margin: 0 auto;
    padding: 50px 50px 50px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selection-text div {
    display: inline-block;
}
.selection-text .fa-circle {
    padding-right: 5px;
}
.selection-text .fa-check {
    padding-left: 5px;
}


.selection-text {
    font-size: 20px;
    color: #7C828A;
}
.selection-active {
    /* color: #49C5B6; */
    font-weight: bold;
}
.selection-active div {
    padding-left: 5px;
}

.topic-title-box {
    padding: 50px 0 100px 0;
    width: 100%;
}

.topic-title {
    font-weight: bold;
    font-size: 45px;
    color: #49C5B6;
    max-width: 1200px;
    min-height: 45px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.topic-subtitle {
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-size: 20px;
    max-width: 1100px;
    width: 95%;
    min-height: 75px;
    padding-top: 60px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0.5px;
    word-break: keep-all;
}

.total-chart-box {
}

.btn-box {
    width: fit-content;
    margin: 40px auto;
}
.btn {
    border: 2px solid #ffffff;
    border-radius: 30px;
    display: inline-block;
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
}

.revoting-btn {
    border-color: #49C5B6;
    color: #49C5B6;
    margin-right: 20px;
}

.share-btn {
    border-color: #ffffff;
    color: #ffffff;
}


.topic-analysis-box {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.analysis-title-row {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.category, .date {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.category {
    margin-right: 40px;
}
.chart-active {
    color: #49C5B6;
}

.chart-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart-box {
    width: 400px;
    height: fit-content;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 10px 10px 0 10px;
    margin: 0 15px 20px 15px;
    background-color: #ffffff;
    position: relative;
}

.chart-title {
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
}
.age-title {
    display:flex; 
    justify-content: space-around; 
    margin-top: 35px; 
    margin-bottom: 15px;
    font-size: 18px;
}
.age-chart {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: fit-content;
    margin-bottom: 48px;
}

#chart {
    margin-left: -37px;
}
#chart5 {
    margin-left: -55px;
}


.label-box {
    padding: 7px 0px;
    border-top: 1px solid #e0e0e0;
    height: fit-content;
}
.label-des {
    display: inline-block;
    
    vertical-align: top;
}

.label {
    width: 49%;
    flex-wrap: wrap;
    padding-bottom: 5px;
    font-size: 13px;
    display: inline-block;
}

.label1 {
    color: rgb(0, 143, 251);
}
.label2 {
    color: rgb(0, 227, 150);;
}
.label3 {
    color: rgb(254, 176, 25);
}
.label4 {
    color: rgb(255, 69, 96);;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    transition: all ease-in 1s;
}

.modal-content {
    background-color: #fefefe;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 150px;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.close {
    color: #aaa;
    float: right;
    position: relative;
    top: -9px;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.copy-link {
    width: 100%;
    padding-top: 20px;
    display: flex;
}
.fa-external-link {
    color: #646464;
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
}
input[name=share_link] {
    border: none;
    background-color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
    width: 100%;
}

.sns-btn {
    margin-top: 20px;
    text-align: center;
}

.sns-btn .button img {
    margin: 0px 10px;
}
@keyframes scaleUp {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media all and (max-width:1695px) {
    .analysis-title-row {
        max-width: 860px;
    }
}

@media all and (max-width:1130px) {
    .topic-analysis-box {
        width: 100%;
    }
    .select-wrapper {
        top: 0;
    }
    .topic-thumb {
        min-height: 300px;
    }
}

@media all and (max-width:768px) {
    
    .analysis-title-row {
        padding-left: 50px;
    }
    .select-box {
        padding-right: 10px;
    }
    .selection {
    }
    .selection-text {
        font-size: 18px;
        display: flex;
    }
    .selection-text .fa-check {
        padding-left: 5px;
    }
    .topic-subtitle {
        width: 90%;
        padding-top: 30px;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
    }
    .topic-title {
        font-size: 35px;
    }
}


@media all and (max-width:480px) {
    .analysis-title-row {
        padding-left: 0px;
    }
    .select-wrapper {
        width: 95%;
    }
    .selection-text {
        font-size: 14px;
        display: flex;
    }
    .selection-text div{
        padding-left: 5px;
    }
    .select-box {
        padding-right: 20px;
    }
    .topic-thumb {
        min-height: 350px;
    }
    .topic-title {
        font-size: 30px;
        width: 95%;
        word-break: keep-all;
    }
    .topic-subtitle {
        padding-top: 10px;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 16px;
        width: 90%;
    }

    .topic-analysis-box {
        position: relative;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
    .category {
        padding-left: 15px;
    }
    .btn-box {
        margin: 20px auto;
    }
    .btn {
        border: 2px solid #ffffff;
        border-radius: 30px;
        display: inline-block;
        padding: 10px 30px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }    
    .revoting-btn {
        border-color: #49C5B6;
        color: #49C5B6;
        margin-right: 10px;
    }
    
    .share-btn {
        border-color: #ffffff;
        color: #ffffff;
    }
    .chart-box {
        margin: 10px auto;
        width: 95%;
        padding: 10px 0px 0px 0px;
    }
    #chart5 {
        margin-left: -35px;
    }
    .age-title {
        margin-top: 20px; 
        margin-bottom: 15px;
        font-size: 18px;
    }
    .age-chart {
        display: flex; 
        justify-content: center; 
        align-items: center;
        height: fit-content;
        margin-bottom: 0px;
    }
    .chart-row {
        margin-bottom: 50px;
    }
    .analysis-title-row {
        margin-bottom: 0;
    }
    .label-box {
        padding: 8px 10px;
    }
    .label {
        width: 180px;
        font-size: 12px;
    }
}

@media all and (max-width:425px) {
    .total-chart-box {
        
    }
    .select-box {
        padding-right: 10px;
        display: flex;
    }
    .selection {
        min-width: 160px;
    }
    .age-chart {
        padding: 10px 0;
    }
    .label-box {
        padding: 7px 8px;
    }
    .label {
        width: 170px;
    }
    .label-des {
        max-width: 150px;
        vertical-align: top;
    }
}
@media all and (max-width:392px) {
    .total-chart-box {
        
    }
    .select-box {
        padding-right: 10px;
    }
    .selection {
        min-width: 150px;
    }
    .selection-text {
        font-size: 13px;
    }
    .age-chart {
        padding: 15px 0;
    }
    .chart-box {
        height: fit-content;
    }
    .label {
        width: 160px;
    }
    .label-des {
        max-width: 150px;
        vertical-align: top;
    }
}
@media all and (max-width: 375px) {
    .label {
        width: 48%;
    }
    .label-des {
        max-width: 130px;
    }
}

@media all and (max-width: 340px) {
    .select-box {
        padding-right: 10px;
    }
    .selection {
        min-width: 130px;
    }
    .selection-text {
        font-size: 12px;
    }
    .selection-text .fa-check {
        padding-left: 5px;
    }
    .label {
        width: 130px;
    }
    .label-des {
        max-width: 110px;
    }
}