.chart-row {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.data {
    width: 40%;
    height: 30px;
    background-color: #666;
}

.all-chart-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #fff;
    
    box-shadow: 2px 1px 5px rgba(0,0,0,0.1);
}

@keyframes charge {
    from {
        width: 0%;
    }
  
    to {
        width: 20%;
    }
  }

.gender {
    margin-top: 10px;
    text-align: center;
}

.data .agree {
    width: 20%;
    height: 100%;
    background-color: #FFDE50;
    animation-duration: .5s;
    animation-name: charge;
    transition: width ease-in .4s;
}

.legend {
    width: 40px;
    text-align: center;
}

.all-chart .chart-title {
    display: flex;
}

.female, .male {
    width: 50%;
    text-align: center;
}


@media all and (max-width:1200px) {
    .data {
        height: 30px;
    }
    .chart-row {
        margin: 20px 0;
    }
}


@media all and (max-width:992px) {
    .data {
        height: 20px;
    }
    .chart-row {
        margin: 10px 0;
    }
}