.topic-wrapper {
    width: 100%;
    height: 100%;
}

.topic-background {
    background-color: black;
    position: relative;
}

.topic-thumb {
    height: 700px;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
.hide {
    display: none;
}

.select-wrapper  {
    position: relative;
    top: -300px;
    margin: 0 auto;
    max-width: 700px;
    background-color: #ffffff;
    border-radius: 30px;
}

.select-box {
    margin: 0 auto;
    padding: 50px 50px 50px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 150px;
}

.selection-text {
    font-size: 20px;
    color: #7C828A;
}
.selection-active {
    color: #49C5B6;
    font-weight: bold;
}

.topic-title-box {
    position: absolute;
    top: 10%;
    width: 100%;
}

.topic-title {
    font-weight: bold;
    font-size: 45px;
    color: #49C5B6;
    max-width: 1000px;
    min-height: 45px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.topic-subtitle {
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-size: 20px;
    max-width: 800px;
    min-height: 75px;
    padding-top: 60px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0.5px;
    word-break: keep-all;
}

.total-chart-box {
    width: 300px;
}

.btn-box {
    width: fit-content;
    margin: 40px auto;
}
.btn {
    border: 2px solid #ffffff;
    border-radius: 30px;
    display: inline-block;
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
}

.revoting-btn {
    border-color: #49C5B6;
    color: #49C5B6;
    margin-right: 20px;
}

.share-btn {
    border-color: #ffffff;
    color: #ffffff;
    transition: all ease-in .5s;
}


.topic-analysis-box {
    position: relative;
    top: -200px;
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
}

.analysis-title-row {
    width: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.category, .date {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.category {
    margin-right: 40px;
}
.chart-active {
    color: #49C5B6;
}

.chart-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart-box {
    width: 400px;
    height: 400px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 10px;
    margin: 0 15px 20px 15px;
    background-color: #ffffff;
    position: relative;
}

.chart-title {
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
}
.age-title {
    display:flex; 
    justify-content: space-around; 
    margin-top: 35px; 
    margin-bottom: 15px;
    font-size: 18px;
}
.age-chart {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: fit-content;
    margin-bottom: 50px;
}

#chart {
    margin-left: -37px;
}
#chart5 {
    margin-left: -55px;
}


.label-box {
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
    border-top: 1px solid #e0e0e0;
}

.label1 {
    color: rgb(0, 143, 251);
}
.label2 {
    color: rgb(0, 227, 150);;
}
.label3 {
    color: rgb(254, 176, 25);
}
.label4 {
    color: rgb(255, 69, 96);;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    transition: all ease-in 1s;
}

.modal-content {
    background-color: #fefefe;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 150px;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.copy-link {
    width: 100%;
    padding-top: 20px;
    display: flex;
}
.fa-external-link {
    color: #646464;
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
}
input[name=share_link] {
    border: none;
    background-color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
    width: 100%;
}

.sns-btn {
    margin-top: 20px;
    text-align: center;
}

.sns-btn .button img {
    margin: 0px 10px;
}

@keyframes scaleUp {
	0% {
		/* 모달 콘텐츠를 하단에 위치시킴 */
		transform: scale(.8) translateY(1000px);
		opacity: 0;
	}
	100% {
		/* 모달 콘텐츠를 본래 위치로 돌려놓음 */
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

@media all and (max-width:768px) {
    .select-wrapper {
        top: -250px;
    }
    .topic-subtitle {
        width: 90%;
    }
    .topic-title {
        font-size: 35px;
    }
}

@media all and (max-width:480px) {
    .total-chart-box {
        min-width: 180px;
    }
    .selection-text {
        font-size: 14px;
    }
    .select-wrapper {
        top: -50px;
        width: 95%;
    }
    .select-box {
        padding-right: 20px;
    }
    .topic-thumb {
        height: 350px;
    }
    .topic-title {
        font-size: 30px;
        width: 95%;
        word-break: keep-all;
    }
    .topic-subtitle {
        padding-top: 20px;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
        width: 90%;
    }

    .topic-analysis-box {
        position: relative;
        top: 0px;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
    .category {
        padding-left: 15px;
    }
    .btn-box {
        margin: 20px auto;
    }
    .btn {
        border: 2px solid #ffffff;
        border-radius: 30px;
        display: inline-block;
        padding: 10px 30px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }    
    .revoting-btn {
        border-color: #49C5B6;
        color: #49C5B6;
        margin-right: 10px;
    }
    
    .share-btn {
        border-color: #ffffff;
        color: #ffffff;
    }
    .chart-box {
        margin: 10px auto;
        width: 90%;
        height: 300px;
    }
    #chart5 {
        margin-left: -35px;
    }
    .age-title {
        margin-top: 20px; 
        margin-bottom: 15px;
        font-size: 18px;
    }
    .age-chart {
        display: flex; 
        justify-content: center; 
        align-items: center;
        height: fit-content;
        margin-bottom: 0px;
    }
    .chart-row {
        margin-bottom: 50px;
    }
    .analysis-title-row {
        margin-bottom: 0;
    }
}