.topic-wrapper {
    width: 100%;
    height: 100%;
}

.topic-background {
    background-color: black;
    position: relative;
}

.topic-thumb {
    height: 700px;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.select-wrapper  {
    display: flex;
    position: relative;
    top: -300px;
    margin: 0 auto;
    width: 700px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 30px;
}

.select-box {
    margin: 0 auto;
    padding: 0px 50px 60px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.selection {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 10px 10px;
    border-radius: 15px;
    cursor: pointer;    
}

.selection-active {
    opacity: 0.4;
    background-color: #000000;
}

.selection .selection-text-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #5a5a5a9f;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #ffffff;
    min-height: 30px;
}
.selection .selection-text {
    padding: 5px 10px;
    font-weight: bold;
}

.topic-title-box {
    position: absolute;
    top: 10%;
    width: 100%;
}

.topic-title {
    font-weight: bold;
    font-size: 45px;
    color: #49C5B6;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.topic-subtitle {
    margin: 0 auto;
    color: #ffffff;
    font-size: 20px;
    max-width: 800px;
    text-align: center;
    padding-top: 60px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0.5px;
    word-break: keep-all;
}

.voting-btn {
    border: none;
    outline: none;
    width: 180px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    display: inline-block;
    color: #ffffff;
    background-color: #49C5B6;
    text-align: center;
    padding: 15px 0;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}
