
@font-face {
    font-family: 'nanum';
    src:url('../fonts/NanumSquareR.woff') format('woff');
    font-weight: normal;
}

.logo a {
    text-decoration: none;
}

.logo a:visited {
    color: #49C5B6;
}

.signin-page {
    max-width: 500px;
    min-width: 320px;
    width: 95%;
    margin: 100px auto;
}

.logo {
    color: #49C5B6;
    margin-bottom: 30px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.signin-box {
    max-width: 500px;
    min-width: 320px;
    width: 100%;
    height: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 0 auto;
    background-color: #fff;
}

.signin-box .title {
    font-size: 30px;
    font-family: nanum;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
}

.signin-box .btn-box {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}