{% extends 'base.html' %}

{% load static %}

{% block head_meta %}
{% endblock %}

{% block head_link %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block head_script %}
{% endblock %}

{% block content %}
<div class="hot-topic">
  <div class="thumb-box">
    <img class="thumb-img" src="{% static 'img/test3.jpg' %}">
  </div>
  <div class="thumb-overlay"></div>
</div>


<div class="list-title">
  최신 토픽
</div>

<div class="topic-list">
  <div class="topic-card">
    <div class="topic-contents">
      <div class="topic-thumb"><img src="{% static 'img/test3.jpg' %}"></div>
      <div class="topic-title">제목</div>
      <div class="topic-subtitle">설명</div>
      <div class="participant">100명 참여</div>
    </div>
  </div>
  <div class="topic-card">
    <div class="topic-contents">
      <div class="topic-thumb"><img src="{% static 'img/test3.jpg' %}"></div>
      <div class="topic-title">제목</div>
      <div class="topic-subtitle">설명</div>
      <div class="participant">100명 참여</div>
    </div>
  </div>
  <div class="topic-card">
    <div class="topic-contents">
      <div class="topic-thumb"><img src="{% static 'img/test3.jpg' %}"></div>
      <div class="topic-title">제목</div>
      <div class="topic-subtitle">설명</div>
      <div class="participant">100명 참여</div>
    </div>
  </div>
  <div class="topic-card">
    <div class="topic-contents">
      <div class="topic-thumb"><img src="{% static 'img/test3.jpg' %}"></div>
      <div class="topic-title">제목</div>
      <div class="topic-subtitle">설명</div>
      <div class="participant">100명 참여</div>
    </div>
  </div>  
  <div class="topic-card">
    <div class="topic-contents">
      <div class="topic-thumb"><img src="{% static 'img/test3.jpg' %}"></div>
      <div class="topic-title">제목</div>
      <div class="topic-subtitle">설명</div>
      <div class="participant">100명 참여</div>
    </div>
  </div>
</div>
</div>

{% endblock %}