{% extends 'base.html' %}

{% load static %}

{% block head_meta %}
{% endblock %}

{% block head_link %}
<link rel="stylesheet" href="{% static 'css/request.css' %}">
{% endblock %}

{% block head_script %}
{% endblock %}

{% block content %}
<div class="request-container">
    <div class="button right">
        <div>새 토픽 요청하기</div>
    </div>
    <h2 class="top">요청하기</h2>
    <ul class="list">
        <li class="list-row">
            <div class="thumb">
                <img src="{% static 'img/no.png' %}">
            </div>
            <div class="content">
                <div class="title">
                    요청요청요청요청요청요청요청요청요청요청
                </div>
                <div class="like">
                    추천
                </div>
            </div>
        </li>
        <li class="list-row">
            <div class="thumb">
                <img src="{% static 'img/no.png' %}">
            </div>
            <div class="content">
                <div class="title">
                    요청요청요청요청요청요청요청요청요청요청
                </div>
                <div class="like">
                    추천
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %} 