{% extends 'base.html' %}

{% load static %}


{% block head_meta %}
<meta name="description" content="{{ topic.description }}" />
<meta property="og:title" content="{{ topic.title }}" />
<meta property="og:image" content="{{ topic.thumb_image.url }}" />
<meta property="og:description" content="{{ topic.description }}" />
{% endblock %}

{% block head_link %}
<link rel="stylesheet" href="{% static 'css/select.css' %}">
{% endblock %}

{% block head_script %}
<script src="{% static 'js/select.js' %}"></script>
{% endblock %}

{% block content %}
<div class="topic-wrapper">
  <div class="topic-background">
    <div class="topic-thumb" style="background-image: url('{{topic.thumb_image.url}}')">
    </div>
    
    <div class="topic-title-box">
      <div class="topic-title">{{topic.title}}</div>
      <div class="topic-subtitle">{{topic.description}}</div>
    </div>
  </div>

  <div class="select-wrapper">
    <div class="select-box">
      <div data="1" class="selection" style="background: url({% static 'img/test3.jpg' %});">
        <div class="selection-text-wrapper">
          <div class="selection-text">
            선택지선택지
          </div>
        </div>
      </div>
      <div data="2" class="selection">
        <div class="selection-text-wrapper">
          <div class="selection-text">
            선택지선택지
          </div>
        </div>
      </div>
      <div data="3" class="selection">
        <div class="selection-text-wrapper">
          <div class="selection-text">
            선택지선택지
          </div>
        </div>
      </div>
      <div data="4" class="selection">
        <div class="selection-text-wrapper">
          <div class="selection-text">
            선택지선택지
          </div>
        </div>
      </div>

      <form action="{% url 'topic:select' topic.pk %}" method="POST" class="voting-form">
        {% csrf_token %}
        <input type="hidden" name="pick">
        <input type="submit" value="투표하기" class="voting-btn">
      </form>
    </div>
  </div>
  
  <div>

  </div>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}