{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_info.css' %}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{% static 'js/add_info.js' %}"></script>
    <title>톺톡</title>

</head>

<body>

    <div class="signin-page">
        <div class="logo">
            <a href="{% url 'topic:list' %}"><h1>톺톡</h1></a>
        </div>
        <div class="signin-box">
            <div class="title">
                <span style="color: #f7e600;">Kakao</span>에서 추가정보를 <br> 받지 못했습니다.
            </div>
            <div class="btn-box">
                <form action="{% url 'add_info' %}" method="POST">
                    {% csrf_token %}
                    <div style="margin-top: 15px;">성별/나이</div>
                    <div id="add">{{addform}}</div>
                    <div style="margin-top: 15px;">지역</div>
                    <div id="region">{{regionform}}</div>                    
                    <input type="submit" value="확 인">
                </form>
            </div>
            
            <div class="sub-title">
                수집된 정보는 통계자료에만 사용되며 <br> 다른 목적으로 사용되지 않습니다.
            </div>
            
        </div>
    </div>
</body>

</html>